<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	<appSettings>
		<add key="SambaSettingsFilePath" value="\SAMBAPOS\SambaPOS5\SambaSettings.txt"/>
		<!--If you dont know file path you can write sql connection string here. Seperator Char must be ;  EXAMPLE(data source=sambapc; user id=sa; password=testdbpass; database=testdbname;)-->
		<add key="SambaDbConnectionString" value=""/>
		<!--You can generate running date perriod by here https://www.freeformatter.com/cron-expression-generator-quartz.html-->
		<add key="SalesDataInterval" value="0 0/10 0 ? * * *"/>
	</appSettings>
</configuration>